/.quarto/
.Rproj.user
*.png
.Rhistory
.Rhistory
*.json
*.json
*.png
alone_names.csv
.Rhistory
_freeze/posts/big-tech-stock/index/figure-html/unnamed-chunk-2-1.png
*.js
*.css
*.map
*.png
posts/drugs.R
.Renviron
/_site/
posts/alone/alone_board
